section > .col-md-3:nth-child(4n+1) {
    clear: both;
}

.img-responsive{
  margin: 0 auto;
}

.cbcCard{
  background: hsla(0, 0%, 58%, .2);
  border: #bcbcbc solid 1px;
  border-radius: 5px 5px 0px 0px;
  padding: 1rem .5rem 1rem .5rem;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

}

section#main {
    margin-left: 0;
    margin-right: 0;
}

h4{
  font-size: 1rem;
  padding-bottom:5%;
}